# Python artifacts
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
.env.*
.env

# Packaging
*.egg-info/
codecollate_cli.egg-info/
dist/
build/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Project outputs
collated_source_code/
*.docx
